
*.pyc
*.exe
*.obj
memman/.vs/VarMemMan/v15/.suo
memman/.vs/VarMemMan/v15/Browse.VC.db
*.opendb
*.ipch
*.db
*.db-shm
*.db-wal
*.vcxproj
*.filters
*.user
*.cmake
*.tlog
*.ilk
*.pdb
*.lib
*.log
*.bin
memman/CMakeFiles/feature_tests.cxx
memman/CMakeFiles/feature_tests.c
memman/CMakeFiles/generate.stamp
memman/CMakeFiles/cmake.check_cache
memman/CMakeCache.txt
memman/CMakeFiles/3.13.0-rc2/CompilerIdC/CMakeCCompilerId.c
memman/CMakeFiles/3.13.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
memman/CMakeFiles/3.13.0-rc2/VCTargetsPath.txt
memman/CMakeFiles/58efd8d16ab66468fc0496bba6cc3f87/generate.stamp.rule
memman/CMakeFiles/generate.stamp.depend
memman/CMakeFiles/generate.stamp.list
memman/CMakeFiles/TargetDirectories.txt
memman/VarMemMan.sln
memman/file
